/* General Page Styling */
body, #root {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Main Container */
.guide-container {
  width: 800px; /* Fixed width for consistency */
  max-width: 90%;
  background-color: #fff;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.final-guide-container {
  width: 700px; /* Reduced width for better readability */
  max-width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

/* Title */
h2 {
  font-size: 2rem;
  color: #333;
}

/* Navigation Buttons */
.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}

.back-button,
.home-button {
  flex-basis: 35%;
  width: 100%;
  margin: 0;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #2f722e;
  color: white;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.back-button:active, .home-button.active {
  transform: scale(.96);
}

.back-button {
  background-color: #6c757d;
}

.back-button:hover {
  background-color: #5a6268;
}

.home-button {
  background-color: #28a745;
}

.home-button:hover {
  background-color: #218838;
}

/* Breadcrumb Navigation */
.breadcrumbs {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.breadcrumbs span {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.breadcrumbs span:hover {
  color: #0056b3;
}

/* Tile Grid Styling */
.tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

/* Tile Styling */
.tile {
  background-color: #2f722e;
  color: white;
  width: 200px; /* Fixed tile size */
  height: 150px; /* Fixed height */
  padding: 20px;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .7s ease-in-out, opacity .7s ease-in-out, transform .7s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateX(100px);
}

.tile:hover {
  background-color: #3f6041;
}

/* Tile animation */
.tile.show {
  opacity: 1;
  transform: translateX(0);
}

/* Accordion Styling */
.accordion {
  margin-top: 20px;
}

.accordion-item {
  background-color: white;
  margin-bottom: 15px; /* Increased spacing */
  overflow: hidden;
  transition: all 0.3s ease;
}

button.accordion-header { 
  background-color: #2f722e;
  color: white;
  padding: 23px 15px;
  margin: 0;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.accordion-header.complete {
  background-color: #a8bdaf;
  color: #878f87;
  cursor: auto;
}

button.accordion-header.complete:hover {
  background-color: #a8bdaf;
}

button.accordion-header:hover {
  background-color: #3f6041;
}

.accordion-header-full {
  display: flex;
  align-items: center;
}

.accordion-checkbox {
  width: 1.7rem;
  aspect-ratio: 1;
  margin-right: 10px;
}

.accordion-content {
  border: 1px solid #ddd;
  border-radius: 5px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out;
  background-color: #f9f9f9;
  padding: 0 1rem;
  overflow: hidden;
  max-height: 0;
}

.accordion-content.open {
  opacity: 1;
  transform: scaleY(1);
  padding: 1rem;
  max-height: 100%;
}

@media (max-width: 600px) {
  .guide-container, .final-guide-container {
    width: 95%;
    padding: 15px;
  }

  .tile {
    width: 100%;
    height: auto;
  }

  .accordion-header {
    padding: 20px;
    font-size: 0.9rem;
  }
}
